# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
client/dist
client/dest
client/lib/bower_components/
.DS_Store
env.config.js
*.env
server/ssl
*.pem
