<div id="room-container">
  <ul class="nav nav-tabs navbar">
    <li class="divider-vertical title"><a href="#/">HackBox</a></li>
    <li class="divider-vertical"><a ng-click='logout()' href="/auth/logout">Logout</a></li>
    <li class="divider-vertical"><a ng-click="saveData()">Save</a></li>
    <li class="divider-vertical" ng-show='saving'><img class='loading_spinner' src="../assets/loading_spinner.gif" ng-show='saving'>Saving...</img></li>
    <li class="divider-vertical"><a ng-click="clearCanvas()">Clear Canvas</a></li>
    <li class="divider-vertical"><a ng-click="toggleEraser()">Toggle Eraser</a></li>
    <li class="divider-vertical"><img class='loading_spinner' src="../assets/loading_spinner.gif" ng-show='saving'></img></li>
  </ul>
    <div ng-controller='textEditorCtrl'>
        <div class="tab-box"> 
            <div ng-class='{"tab-container": !editor.tab.active, "activeTab-container": editor.tab.active}' ng-click="toggleCanvas(true); setActiveEditor(editor.id)" ng-repeat='editor in editors'>
                <div ng-class='{tab: !editor.tab.active, activeTab: editor.tab.active}'>{{editor.tab.name}}</div>
                <a class='removeEditor-button' ng-click='removeTextEditor(editor.id); saveData(); $event.stopPropagation();'></a>
            </div> 
        </div>
        <div ng-click='deactivateTabs(); toggleCanvas(false)' ng-class='{tab: !showCanvas, activeTab: showCanvas}'>Whiteboard</div>
        <button class="addtab-btn" ng-click='addTextEditor(saveData); saveData();'><i class="fa fa-plus"></i></button>
        <div class='peerTypingText' ng-show='isPeerTyping'> 
            Another user is typing...
        </div>

    </div>
    <div class='textEditor-container' ng-show='!showCanvas' id='editors'>
    </div>
    <div ng-controller='drawingCtrl' ng-show="showCanvas" class='drawing-container'>
    </div>
    <div ng-controller='videoCtrl' class='video-container'>
        <video class='userVideo' muted='true' ng-src='{{userVideoSource}}' autoplay></video>
        <video class='peerVideo' ng-src='{{peerVideoSource}}' autoplay></video>
    </div>
</div>