body {
  background-color: #F1EDEB;
}

.container {
  width: 100%;
}

.section1 {
  background: #363636;
  border: 1px solid #979797;
/*  width: 1024px; */
  height: 511px;
}

.title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 72px;
  color: #F1EDEB;
  line-height: 88px;
  text-align: center;
  margin-top: 100px;
}

.logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: 100px;
}

.appLogos {
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:80%;
  max-height:80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.aceLogo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:80%;
  max-height:80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title2 {
  font-family: Quicksand;
  font-size: 36px;
  color: #F1EDEB;
  line-height: 39px;
  margin-top: 30px;
}

.slogan {
  font-family: Quicksand;
  font-size: 20px;
  color: #F1EDEB;
  line-height: 24px;
  text-align: center;
}

.icon {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 25px;
  max-width:50px;
  max-height:50px;
}

.copyright {
  font-family: Quicksand;
  font-size: 10px;
  color: #F1EDEB;
  line-height: 12px;
  text-align: center;
  /*position: absolute; */
  /*bottom: 0;*/
  /*right: 50;*/
  margin: auto;
}

.buttonsContainer{
  margin: 30px auto;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.githubButtonContainer {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.githubButtonContainer a {
  overflow: initial;
  background: #578A38;
  border-radius: 3.75px;
  font-family: Quicksand;
  font-size: 12px;
  color: #F1EDEB;
}

.demoButtonContainer{
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  width: 200px;
  height: 35px;
}

.demoButton {
  background: #578A38;
  border-radius: 3.75px;
  font-family: Quicksand;
  font-size: 12px;
  color: #F1EDEB;
  width: 200px;
}

.section2 {
  background-color: #A0A0A0;
  border: 1px solid #979797;
  /*width: 1024px;*/
  height: 111px;
}

.section3 {
  /*width: 1024px;*/
  /*height: 473px;*/
  background-color: #F1EDEB;
  text-align: center;
  margin: 2% auto 2% auto;
}

.demo-image {
  width: 80%;
  margin-bottom: 100px;
  margin-top: 50px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  margin-left: 12.5%;
  width: 75%;
}

.section4 {
  /*width: 1024px;*/
  height: 321px;
  background-color: #F1EDEB;
  width: 75%;
  margin: auto;
}

.information {
  font-family: Quicksand;
  font-size: 19.1px;
  color: #363636;
  line-height: 24px;
}

.section5 {
 height: 321px;
 background-color: #F1EDEB;
 width: 75%;
 margin: auto;
 /*width: 1024px;*/
}

.section6 {
 background-color: #363636;
 /*width: 1024px;*/
 height: 120px;
}

.github {
  margin: 45px auto;
  margin-bottom: 10px;
  display: block;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 14px;
  color: #F1EDEB;
  line-height: 17px;
  text-align: center;
}

.githubLink {
  position: relative;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 14px;
  color: #F1EDEB;
  line-height: 17px;
  text-align: center;
  top: 0;
}


.col-md-4{
  display: inline-block;
  width:33%;
  height:100%;
}

.bottom-spacer {
  height: 80%;
}
.col-md-6{
  position: relative;
  display: inline-block;
  width:33%;
  height:100%;
}