body { 
  color: #9078AD;
  font-family: 'Helvetica Nueue', Helvetica, sans-serif;
  font-weight: 300;
  background-color: #321456;
}

.navbar {
  border-bottom: 1px solid #9078AD;
  border-left: 1px solid #9078AD;
  width: 40%;
  min-height: 10px;
  margin: 5px 0 0 0;
  top: 0px;
}

a {
  color: #9078AD;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #9078AD;
}

a:visited {
    color: #9078AD;
    text-decoration: none;
}

a:visited:hover {
    color: #9078AD;
    text-decoration: none;
}

.signin {
  color: #000;
}

.github-signin-btn {
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: #000;
}

.github-signin-link {
  color: #000;
}

.interview{
  width:75%;
  height:10%;
  border:3px solid #fff;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding:5px;
}

.interview:hover{
    background: #B2B2CC;
}

.startTime{
}

.candidateName{
}

.candidateEmail{
}

.homepage {
  margin: 10px 0 0 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.schedule {
  background-color: #321456;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 100;
  font-size: 36px;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto 0 auto;
}

.schedule-container {
  height: 300px;
}

.userinput {
  font-size: 16px;
  height: 30px;
  margin: 10px 0 10px 0;
}

.form {
  text-align: center;
}

.buttons {
  position: absolute;
  top: 0;
  right: 30%;
  z-index: 2;
}

#room-container{
    position:absolute;
    /*border:3px solid red;*/
    width:95%;
    height:100%;
}

.textEditor-container{
    position:relative;
    margin: 0px auto 0 auto;
    width: 100%;
    height: 85%;
    /*border:3px solid green;*/
}

.drawing-container {
    background-color: #fff;
    width: 100%;
    height: 80%;
    /*border: 3px solid blue;*/
    overflow: hidden;
}

#drawingCanvas {
  height: 100%;
  width: 100%;
}

.canvas-container {
    position:relative;
    width: 100%;
    height: 100%;
    /*border:3px solid purple;*/
}

.userVideo {
    height: 100%;
    width: 100%;
    float: left;
    /*border:5px solid orange;*/
    position: absolute;
}

.videoPlaceholder{
  background-color: black;
}

.peerVideo {
    height: 100%;
    width: 100%;
    /*border:5px solid blue;*/
    position: absolute;
}

.tab-box { 
  display:inline-block;
  /*border-bottom: 1px solid #DDD;*/
  position: relative;
}

.tab-container {
  display: inline-block;
  /*border:1px solid #DDD;*/
  color:#666666;
  text-decoration:none;
  background-color: #222;
  border-radius: 5px;
  margin: 1px;
  padding-right: 5px;
}

.activeTab-container {
  display: inline-block;
  /*border:1px solid #DDD;*/
  color:#444;
  text-decoration:none;
  margin: 1px;
  padding-right: 5px;
  background-color: #333;
  border-radius: 5px;
}
.activeTab{
    display: inline-block;
    color:#666666;
    padding: 5px 15px;
    text-decoration:none;
    background-color: #333;
    border-radius: 5px;
    margin: 1px;
}

.addtab-btn {
  background-color: #222;
  border: none;
  border-radius: 20%;
}

.tab {
  display: inline-block;
  color:#666666;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #222;
  border-radius: 5px;
  margin: 1px;
}



.editor { 
    position: relative;
    width:100%;
    height:100%;
    display: none;
}
.removeEditor-button{
    display:inline-block;
    width:10px;
    height:10px;
    line-height:50px;
    /*border: 2px solid #f5f5f5;*/
    border-radius: 50%;
    color:#f5f5f5;
    background: #464646;
    box-shadow: 0 0 3px gray;
}

.removeEditor-button:hover{
    text-decoration: none;
    border-radius: 50%;
    background: #262626;
}

.activeEditor { 
    display: block;
}


.loading_spinner{
  margin: 5px 5px 5px 15px;
  width:25px;
  height:25px;
}

.homeSearch-container{
  margin: 10px;
  text-align: center;
}

.homeSearch {
  font-size: 22px;
  width: 50%;
}

.peerTypingText{
  display: inline-block;
}
.homeLoadingSpinner{
  position: relative;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-bottom: 10px;
}

/* entire container, keeps perspective */
.video-container {
  position: absolute;
  bottom: 2%;
  right: 0;
  /*border:5px solid brown;*/
  z-index: 2;
  perspective: 1000;
}
/* flip the pane when hovered */
.video-container.flip .flipper {
  transform: rotateY(180deg);
}

.video-container, .front, .back {
  width: 250px;
  height:250px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.rotateVideoIcon{
  position:absolute; 
  z-index: 100;
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
}
