body { 
  font-family: 'Quicksand', sans-serif;
  color: #000;
  font-weight: 300;
  background-color: #F1EDEB;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dateLabel{
  font-size: 30px;
  /*text-shadow: 4px 4px 4px #aaa;*/
}

.navbar {
  background-color: #363636;
  width: 100%;
  margin-top: 0;
  height: 30px;
  border-radius: 0;
}

.homeDiv {
  width: 100%;
}

.dateLabel{
  text-align: center;
}

a {
  color: #F1EDEB;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #326B8B;
  cursor: pointer;
}

a:visited {
  color: #F1EDEB;
  text-decoration: none;
}

a:visited:hover {
  color: white;
  text-decoration: none;
}

li{
  list-style: none;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.button {
  text-align: center;
  margin-bottom: 50px;
}

.filterButtons {
  text-align: center;
  margin-bottom: 40px;
}

.folder-tab-container {
  /*border: 1px solid #00f;*/
  padding: 0;
  width: 70%;
  margin: auto;
}

.folder-tab {
  border-radius: 7px 15px 5px 5px !important;
  background-color: #F8F5E1 !important;
  border: 1px solid #ccc !important;
  border-bottom: none !important;
}


.folder-tab-bdr-bottom {
  border-radius: 7px 15px 5px 5px !important;
  background-color: #F8F5E1 !important;
  border: 1px solid #ccc !important;
  margin-top: -5px;
}

.folder-tab:focus {
  outline:0 !important;
}

.folder-tab-bdr-bottom:focus {
  outline: 0 !important;
}

.button {
  text-align: left;
  /*border: 1px solid #000;*/
  margin: 0 0 0 0;
  position: absolute;
}

.interviews-container {
  background-color: #F8F5E1;
  margin: 30px auto 0 auto;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border: 1px solid #ccc;
  width: 70%;
  border-radius: 0 10px 10px 10px;
  padding-top: 30px;
}

.interview{
  width: 70%;
  box-shadow: 0px 8px 10px 0px #A0A0A0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #326B8B;
  height: 130px;
  text-align:center;
}

.interviewLeft {
  float: left;
  width: 50%;
}

.interviewRight {
  float: right;
  width: 50%;
}

.innerInterview {
  padding: 10px;
}

.interview:hover{
  background: #6895AD;
  cursor: pointer;
}

.signin {
  color: #000;
}

.github-signin-btn {
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: #4965EE;
}

.github-signin-link {
  color: #4965EE;
}

.homepage {
  margin: 10px 0 0 0;
  height: 100%;
  width: 100%;
  text-align: center;
  /*text-shadow: 4px 4px 4px #aaa;*/
}

.schedule {
  background-color: #326B8B;
  color: #000;
  border: 1px solid #fff;
  font-weight: 100;
  font-size: 36px;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto 0 auto;
}

.schedule-container {
  height: 350px;
}

.userinput {
  font-size: 16px;
  height: 30px;
  margin: 10px 0 10px 0;
}

.form {
  text-align: center;
}

.buttons {
  position: absolute;
  top: 0;
  right: 30%;
  z-index: 2;
}

#room-container{
  position:absolute;
  width:100%;
  height:100%;
}

.textEditor-container{
  position:relative;
  margin: 0px auto 0 auto;
  width: 100%;
  height: 85%;
}

.drawing-container {
  background-color: #fff;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#drawingCanvas {
  height: 100%;
  width: 100%;
}

.canvas-container {
  position:relative;
  width: 100%;
  height: 100%;
}

.userVideo {
  height: 100%;
  width: 100%;
  float: left;
  position: absolute;
}

.videoPlaceholder{
  background-color: black;
}

.peerVideo {
  height: 100%;
  width: 100%;
  position: absolute;
}

.tab-box { 
  display:inline-block;
  position: relative;
  width: 100%;
}

.tab-container {
  display: inline-block;
  color:#666666;
  text-decoration:none;
  background-color: #222;
  border-radius: 5px;
  margin: 1px;
  padding-right: 5px;
}

.activeTab-container {
  display: inline-block;
  /*border:1px solid #DDD;*/
  color:#fff;
  text-decoration:none;
  margin: 1px;
  padding-right: 5px;
  background-color: #444;
  border-radius: 5px;
}

.activeTab{
  display: inline-block;
  color:#eee;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #444;
  border-radius: 5px;
  margin: 1px;
}

.addtab-btn {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 20%;
}

.tab {
  display: inline-block;
  color:#fff;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #222;
  border-radius: 5px;
  margin: 1px;
}

.editor { 
  position: relative;
  width:100%;
  height:100%;
  display: none;
}
.removeEditor-button{
  display:inline-block;
  width:10px;
  height:10px;
  line-height:50px;
  border-radius: 50%;
  color:#f5f5f5;
  background: #464646;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.8);
}

.removeEditor-button:hover{
  text-decoration: none;
  border-radius: 50%;
  background: #262626;
}

.activeEditor { 
  display: block;
}


.loading_spinner{
  width:25px;
  height:25px;
}

.homeSearch-container{
  text-align: center;
  padding: 10px;
}

.homeSearch {
  font-size: 18px;
  width: 20%;
  margin-bottom: 5px;
}

.fzf-container {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 10px auto 0 auto;
  padding: 10px;
}

.fzf {
  display: inline-block;
  font-size: 80px;
  font-weight: 600;
  padding: 10px;
  width: 20%;
}

.fzf-message {
  font-size: 30px;
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  display: inline-block;
  width: 70%;
  margin: auto 0 auto;
}
.peerTypingText{
  display: inline-block;
}

.homeLoadingSpinner{
  position: relative;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-bottom: 10px;
}

/* entire container, keeps perspective */
.video-container {
  position: absolute;
  bottom: 2%;
  right: 0;
  /*border:5px solid brown;*/
  z-index: 2;
  perspective: 1000;
}
/* flip the pane when hovered */
.video-container.flip .flipper {
  transform: rotateY(180deg);
}

.video-container, .front, .back {
  width: 250px;
  height:250px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.rotateVideoIcon{
  position:absolute; 
  z-index: 100;
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
}

.room-title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 72px;
  color: #222;
  text-align: left;
}

.room-title a {
  color: #444;
}

.room-title a:hover {
  color: #666;
}

.room-logo {
  height: 72px;
  display: inline-block;
  margin-bottom: 17px;
}

.gear-container {
  margin: 0 0 0 2px;
  padding: 0;
}

.gear {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 0 5px 0 5px;
}

.gear-options {
  background-color: #f1edeb;
}

.gear-rotate {
  -webkit-transform: rotateZ(240deg);
  -webkit-transition: 20s;
}

.nav-logo {
  height: 45px;;
}

#logout {
  float: right;
}

.about-header {
  font-size: 60px;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 1%;
}

.about-text {
  width: 85%;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  text-align: left;
}

.about-text h1 {
  text-decoration: underline;
}

.about-container {
  text-align: center;
}

.logo-container {
}

.logo-container h1 {
  text-align: left;
  margin-left: 7%;
  margin-right: 7%;
  text-decoration: underline;
}

.dev-tools {
  margin-top: 10%;
}

.apis {
  margin-top: 10%;
}

.col-md-4 {
  /*border: 1px solid #000;*/
}

.stack-logo {
  height: 100px;
}

.faq-text {
  width: 85%;
  margin: auto;
  text-align: left;
}

.faq-text h1{
  text-decoration: underline;
}

.faq-text p {
  font-size: 16px;
  font-weight: 500;
}

.faq-text .q {
  font-weight: 800;
}

.confirmation {
  text-align: center;
}