
<div class='innerInterview'>
  <div class="close" ng-click="$event.stopPropagation()"><a ng-click='removeFn(interview.roomId)'><i class="fa fa-times"></i></a></div>
  <h3><div class='interviewLeft'>
    <ul>
      <li> <i class="fa fa-calendar"></i> {{interview.displayed_date}} </li>
      <br>
      <li> <i class="fa fa-clock-o"></i> {{interview.displayed_time}} </li>
    </ul>
  </div></h3>

  <h3><div class='interviewRight'>
    <ul>
      <li class='name'><i class="fa fa-user"></i> {{interview.candidateName}} </li>
      <br>
      <li class='email'><i class="fa fa-envelope-o"></i> {{interview.candidateEmail}} </li>
    </ul>
  </div></h3>
</div>