<div id="home-container">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav nav-tabs navbar">
          <li class="divider-vertical title"><a href="#/">HackBox</a></li>
          <li class="divider-vertical" ng-controller='signinCtrl'  ng-show='!isLoggedIn'><a ng-click='openSigninModal()' href="#/signin">Sign In</a></li>
          <li class="divider-vertical" ng-show='isLoggedIn'><a ng-click='logout()' href="/auth/logout">Logout</a></li>
          <li class="divider-vertical" ng-controller='scheduleCtrl' ng-show="isLoggedIn"><a ng-click="openScheduleModal()" href="#/schedule">New  Interview</a></li>
          <li class="divider-vertical"><a ng-click='quickRoom()'>Demo Room</a></li>
        </ul>
        <div>
        <div class="homepage" ng-show="isLoggedIn">
         <h2>Upcoming Interviews</h2>
        </div>
        <div class='interviews-container'>
          <div class='homeSearch-container' ng-show="isLoggedIn">
            <input class="homeSearch" ng-model="searchText" placeholder="Search">
          </div>
          <div >
            <img ng-show='showLoadingCreateInterview' class='homeLoadingSpinner' src="../assets/loading_spinner.gif"></img>
            <div ng-show='isLoggedIn && (incompleteInterviews.length === 0)' style='text-align: center'>You don't have any upcoming interviews!</div>
          </div>
          <div class='interview' ng-repeat='interview in incompleteInterviews | orderBy: "start_time" | filter:searchText' ng-click='joinRoom(interview)'>
              <div class="close" ng-click="$event.stopPropagation()"><a ng-click='remove(interview.roomId)'><i class="fa fa-times"></i></a></div>
              <h2 class='candidateName'> {{interview.candidateName}}</h2>
              <div class='candidateEmail'> {{interview.candidateEmail}}</div>
              <div class='startTime'> {{interview.displayedStart_time}}</div>
          </div>
        </div>
    </div>
</div>